body {
    background-color: #670f22;
}
header{
    text-align: center;
    color: #f8f4f4;
    font: normal;
}
main{
    margin: auto;
    width: 50vw;
    height: 40vh;
    background-color: white;
    color: #000;
    border-radius: 12px;
    box-shadow: 2px 2px 3px black;
}
input{
    
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid black;
}
#button{
    background-color: #670f22;
 
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 13px;
    border-radius: 8px;
    border: none;
}
#button:active{
    transform: translateY(4px);
}
#button:hover{
    background-color: #e50914;
    cursor: pointer;
}
input:hover{
    color: white;
    background-color: #9c1732;
    cursor: pointer;
}

p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: #670f22;
}



footer{
    text-align: center;
    color: rgb(249, 246, 246);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 100px;
    
}
