body{
    background-color: rgb(98, 98, 241);
}
header{
    color: white;
    text-align: center;

}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.735);
}
img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.735);
}
#msg{
    font-size: 20px;
    font-weight: bold;
    color: rgb(2, 69, 184);
}
#res{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: blue;
}



footer{
    color: wheat;
    text-align: center;
    font-style: italic;
}