body{
    background-color: rgb(49, 156, 244);
}
header{
    color: white;
    text-align: center;

}
section{
    background: rgb(253, 252, 252);
    color: rgb(49, 156, 244);;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 10px rgb(49, 156, 244);
}
input{
    color:rgb(49, 156, 244);
    border-radius: 10px;
    border: 1px solid rgb(49, 156, 244);
    padding: 5px;
    margin: 12px;
}
option{
    color: rgb(49, 156, 244);
    border-radius: 10px;
    border: 1px solid rgb(49, 156, 244);
    padding: 5px;
    margin: 4px;
}
footer{
    color: rgb(248, 248, 248);
    text-align: center;
    font-style: italic;
}