body{
    background-color: rgb(1, 146, 61);
}
header{
    color: white;
    text-align: center;

}
section{
    background: rgba(187, 246, 105, 0.701);
    color: rgb(2, 86, 19);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.541);
}
select{
    color: #340707;
    width: 170px;
    
}
input{
    color: rgb(2, 86, 19);
}
option{
    color: rgb(2, 86, 19);
}
footer{
    color: wheat;
    text-align: center;
    font-style: italic;
}